body {
  background: linear-gradient(45deg, #363636, #444444,  #6e6e6e);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: 100%;
  flex: 1;
  display: flexbox;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} /*Colores y espacios fijos para el cuerpo*/

h1 {
  margin: 20px;
} /*Espacios fijpos para textos h1*/

h3 {
  margin: 20px;
} /*Espacios fijos para textos h3*/

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu {
  overflow: hidden;
}

.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #6e6e6e;
  color: black;
  transition: 0.5s;
} /*Espacios, colores y hovers para el menu*/

.container {
  display: flex;
  align-items: center;
} /*Espacios para el primer contenedor de cards*/

.card-img {
  width: 450px;
}

.card-img2 {
  width: 300px;
}

.card-img3 {
  width: 300px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
} /*Espacioos tamaños y colores fijos para los elementos de las cards*/

.cardMe {
  display: flex;
  align-items: center;
}

.card {
  margin: 20px;
  width: 450px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #6e6e6e, #444444);
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background-color: #6e6e6e;
} /*Espacios y tamaños para la card de mi información*/

.tableEx{
  background: linear-gradient(-45deg, #6e6e6e, #444444);
  box-shadow: 0 4px 8px #000000;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 10px;
  margin: 20px;
  width: 100%;
  height: 890px;
  padding: 20px;
} /*Colores, espacios de la tabla con mis proyectos*/

th, td {
  padding: 10px;
  vertical-align: top;
}

.cardExperiencia {
  text-align: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background: linear-gradient(-45deg, #363636, #444444,  #6e6e6e);
  margin: 20px;
}

.cardExperiencia2 {
  text-align: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background: linear-gradient(45deg, #363636, #444444,  #6e6e6e);
  margin: 20px;
} /*Tamaños espacios de las cards con mis proyectos*/

.container2 {
  display: flex;
  align-items: flex-start;
} /*Espacios del segundo container*/

.educacion {
  background: linear-gradient(-45deg, #6e6e6e, #444444);
  box-shadow: 0 4px 8px #000000;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 10px;
  margin: 20px;
  width: 100%;
  height: 620px;
  padding: 20px;
} /*Estilos colores y espacios para la card con los lenguajes*/
 
.languajes {
  background: linear-gradient(-45deg, #6e6e6e, #444444);
  box-shadow: 0 4px 8px #000000;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  margin: 20px;
  width: 510px;
}

.progressBarHtml {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressHtml {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 75%;
  transition: width 0.5s ease;
}

.progressBarCss {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressCss {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 65%;
  transition: width 0.5s ease;
}

.progressBarPhp {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressPhp {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.5s ease;
}

.progressBarPython {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressPython {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 30%;
  transition: width 0.5s ease;
}

.progressBarJavaScript {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressJavaScript {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 20%;
  transition: width 0.5s ease;
}

.progressBarSQL {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 15px;
  margin-top: 5px;
}

.progressSQL {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 100%;
  width: 70%;
  transition: width 0.5s ease;
} /*porcentajes, colores y espacios de cada lenguaje*/

.cardEducacion {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background: linear-gradient(-45deg, #363636, #444444,  #6e6e6e);
  margin: 20px;
}

.cardEducacion2 {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background: linear-gradient(-45deg, #363636, #444444,  #6e6e6e);
  margin: 20px;
} /*Colores y espacios de las cards sobre mi estudio*/

.container3 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px;
} /*Espacios del ultimo contenedor*/

.cardIntereses {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background-color: #6e6e6e;
}

.cardHabilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
  overflow: hidden;
  background-color: #6e6e6e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #5a6570;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  font-size: 16px;
} /*Espacios, colores de las 2 ultimas cards*/

footer {
  background-color: #363636;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  margin: 20px;
} /*Espacios, colores del footer para que siempre este al final*/
