.App-header {
  background: linear-gradient(-45deg, #37146e, #6d0ebb);
  min-height: 100vh;
  display: flexbox;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu {
  overflow: hidden;
}

.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #7e16d3;
  color: black;
}

.card {
  position: relative;
  text-align: center;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 20px;
  left: 20px;
}

.card-img {
  width: 450px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.cardPerfil{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 700px;
  left: 30px;
}

.cardContacto {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 45px;
  left: 20px;
}

.cardEducacion {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 650px;
  left: 500px;
}

.cardPe {
  position: absolute;
  top: 50px;
  left: 650px;
}

.cardExperiencia {
  position: absolute;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 170px;
  left: 560px;
}

.cardExperiencia2 {
  position: absolute;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 80px;
  left: 950px;
}

.cardIntereses {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 650px;
  left: 1030px;
}

.cardHabilidades {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #7e16d3;
  top: 1000px;
  left: 1030px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #5a6570;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  font-size: 16px;
}